{
    "size": 0,
    "query": {
        "match": {
            "{{searchField}}": "{{keywords}}"
        }
    },
    "aggs": {
         "over_top_n" : {
            "sampler" : {
                "shard_size" : {{shardSize}}
            },
            "aggs": {
                "expansions": {
                    "significant_terms": {
                        "field": "{{expandField}}",            
                        "min_doc_count": {{minDocCount}}
                    }
                }
            }
         }
    }
}
